[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = git@github.com:ai03-2725/Type-C.pretty.git
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = git@github.com:ai03-2725/random-keyboard-parts.pretty.git
[submodule "fancy-kicad-stuff"]
	path = fancy-kicad-stuff
	url = git@github.com:mkbdfr/fancy-kicad-stuff.git
[submodule "MX_19mm.pretty"]
	path = MX_19mm.pretty
	url = git@github.com:aaarsene/MX_19mm.pretty.git
